{% extends "@Contao/be_main" %}

{% set title = 'YouTube Synchronisation' %}
{% set headline = title %}

{% block main_content %}
  <div id="tl_buttons">
    <a href="{{ path('contao_backend', {do: 'news'}) }}" class="header_back" title="">{{ back }}</a>
  </div>
  <div id="calendar_sync_trigger" class="maintenance_inactive">

    <h2 class="sub_headline">{{ section_headline }}</h2>

    <p class="tl_listing_container">{{ count_label }}</p>
    
    <form action="{{ form_action }}" class="tl_form" method="post">
      <input name="FORM_SUBMIT" value="tl_youtube_sync" type="hidden">
      <div class="tl_submit_container">
        <button type="submit" name="maintenance" class="tl_submit">{{ submit_label }}</button>
      </div>
    </form>

  </div>
{% endblock %}
